/* misc */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    background-image: url("background-img.webp");
}

#main-title {
    display: flex;
    justify-content: center;
    color: #e6e6e6;
    font-weight: 900;
}

.heading {
    display: flex;
    justify-content: center;
}

#error-el {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

/* Rarity buttons selections --------------------------------- */

#heading, #buttons, .rarity-craft-container {
    padding: 1rem;
    margin: 0.5rem auto;
}

.rarity-button {
    border: 0.4rem solid;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.275rem;
    transition: background-color 0.2s;
    font-family: "Ubuntu", sans-serif;
    gap: 1rem;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 1%;
    flex-wrap: wrap;
}

button {
    width: 5rem;
    height: 5rem;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* turn buttons darker when selected */

#buttons button.selected {
    background-color: #888888; /* darker gray */
    border-color: #757575;
}

/* styling for those buttons*/

#common-button {
    background-color: #8ced67; 
    border-color: #72c054;
}

#unusual-button {
    background-color: #fbe557;
    border-color: #cab848;
}

#rare-button {
    background-color: #5253e4;
    border-color: #4344b7;
}

#epic-button {
    background-color: #8128df;
    border-color: #6921b4
}

#legendary-button {
    background-color: #d22825;
    border-color: #a92220;
}

#mythic-button {
    background-color: #54d9dc;
    border-color: #44afb2;
}

#ultra-button {
    background-color: #f23375;
    border-color: #c32b60;
}

/* ----------------------------------------------------------- */

/* enter petals input */

.enter-petals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#petals-input {
    padding: 0.75rem 1rem 0.75rem 1rem;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    background-color: #e6e6e6;
    border: 0.4rem solid #b5b5b5;
    border-radius: 6px;
}

.line {
    border-bottom: 2px dotted #000;
    width: 60%;
    margin: 0.5rem auto;
    box-sizing: border-box;
}

/* craft button */

.rarity-container {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    margin: 0 auto;
}

.rarity-craft-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 0.5rem; 
    margin: 0 auto;
}

#craft-button {
    width: 20rem;
    height: 10rem;
    font-size: calc(0.4 * 10rem);
    display: block;
    font-family: "Ubuntu", sans-serif;
    background-image: url("Alphabetical_petals_27.webp"); 
    background-size: cover; 
    background-position: center; 
    background-blend-mode: lighten; 
    background-color: rgba(255,255,255,0.5);
    border: 0.5rem solid #93b5d8;
    border-radius: 1rem;
}

.craft-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#craft-button:hover {
    width: 24rem;
    height: 12rem;
}

#craft-button:active {
    width: 20rem;
    height: 10rem;
}

/* results */

.onaverage-result, .simulation-result, .at-least-one {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.onaverage-result h2 {
    margin: 0;
}

#result-number-el, #total-petals-display, #simulation-result-el {
    color: #e6e6e6
}